<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.lubble.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".LubbleApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.LoginActivity"
            android:launchMode="singleTop" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".chat.ChatActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".profile.ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <service android:name=".UploadFileService" />
        <service android:name=".firebase.FcmService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="Notice Notifications" />

        <service android:name=".firebase.FcmInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".groups.NewGroupActivity"
            android:label="New Group"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".announcements.NewAnnouncementActivity"
            android:label="New Announcement"
            android:parentActivityName=".announcements.announcementHistory.AnnouncementsActivity" />
        <activity
            android:name=".announcements.announcementHistory.AnnouncementsActivity"
            android:label="Announcements"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".domestic_directory.DomesticDirectoryActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6fd5a7acad385fd4a56944a42c164622f03560ca" />

        <activity
            android:name=".DebugActivity"
            android:label="@string/title_activity_debug"
            android:theme="@style/AppTheme" />
        <activity android:name=".user_search.UserSearchActivity" />
        <activity android:name=".utils.FullScreenImageActivity" />
        <activity
            android:name=".chat.AttachImageActivity"
            android:parentActivityName=".chat.ChatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".auth.LocationActivity" />
        <activity
            android:name=".auth.IntroActivity"
            android:theme="@style/BlueAppTheme" />
        <activity
            android:name=".groups.group_info.ScrollingGroupInfoActivity"
            android:label="@string/title_activity_scrolling_group_info"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>